.row{
    --bs-gutter-x: -0.5rem!important;
}
.px-6{
    padding: 0 3rem;
}
.bg-white{
    background-color: #fff;
}
.text-red{
    color: red;
}
.d-flex{
    display: flex;
}
#hoarding{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    /* margin-top: 10rem; */
}
#hoarding .banner img{
    width: 100%;
}
.tshirt_banner img{
    /* width: 100%; */
    /* height: 300px; */
}
.tshirts_banner img{
    /* width: 100%; */
    /* height: 200px; */
}
/* #hoarding .banner{
    background-image: url('../images/marathon/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
}
.tshirt_banner{
    background-image: url('../images/marathon/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 300px;
} */
.parent {
    display: grid;
    grid-template-columns: 1fr;
    padding: 35px;
  }
  
  @media (min-width: 768px) {
    .parent {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  .float-up-down {
    animation: float 3s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px);
    }
    100% {
      transform: translateY(0);
    }
  }
  